@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*:focus{
    outline: none;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.home{
    background: url("/bg.png") no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    color: white;
}
.header{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #0f0f0f2f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    backdrop-filter: blur(8px);
}
.header ul{
    display: flex;
}
.header ul li a{
    color: white;
    padding: 5px;
}
.logo h1{
    color: white;
}
.home .heros{
    padding-top: 200px;
    text-align: center;
    font-size: 1.5em;    
}
.home .heros h3{
    font-weight: 400;
}
.mission{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #2450C0;
    color: white;
    padding: 100px;
}
.mission .textarea{
    max-width: 600px;
}
.mission h1{
    padding-bottom: 10px;
    font-size: 46px;
}
.mission p{
    font-size: 20px;
    font-weight: 400;
}
.mission img{
    padding-left: 60px;
    width: 500px;
}
.download{
    padding-top: 10px;
    background-color: #2450C0;
    color: white;
    min-height: 100vh; 
}
.download h1{
    text-align: center;
    font-size: 40px;
    padding-bottom: 25px;
}
.box{
    display: flex;
    background-color: #6583E2;
    width: 800px;
    border-radius: 40px;
    position: relative;
    justify-content: space-between;
    
}
.download img{
    padding-top: 10px;
    width: 300px;
    padding-right: 0px;
    
}
.box h1{
    text-align: left;
    padding: 20px;
    font-size: 30px;
}
.downloadfor{
display: flex;
flex-direction: column;
}